
div {
  border: 1px solid red;
}

html {
  font-size: 16px;
  font-family: helvetica;
}

/* Header content */

#navmobile {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
  border-bottom: 1px solid black;
  position: fixed;
  background-color: white;
}

header img {
  margin-left: 2rem;
}

span {
  color: royalblue;
  text-shadow: .125rem .125rem .5625rem black;
}

a {
  color: royalblue !important;
}

nav a:link {
  text-decoration: none;
  font-size: 1.1rem;
  transition: color .5s ease-out 0s;
}

nav a:hover {
  color: white !important;
  text-shadow: .125rem .125rem .25rem black;
}

nav a:active {
  color: royalblue !important;
  text-shadow: 0rem 0rem 0rem white;
}

nav a:visited {
  color: black;
}

.logotitle {
  display: flex;
  align-items: center;
}

.logotitle img {
  height: 2rem;
}

.logotitle p {
  font-size: 2rem;
}

ul {
  display: flex;
  margin-right: 1.5rem;
}

li {
  padding: 0 1rem 0 0;
}

@media only screen and (max-width: 470px) {

  header {
    justify-content: center;
  }

  #headerlogo, header p {
    display: none;
  }

  #navnormal {
    display: none;
  }

  #navmobile {
    display: flex;
  }

  header img {
    height: 3rem;
    margin: 0 2rem 0 2rem;
  }
}

/* Banner section */

.banner {
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 4rem;
  background-color: lightsteelblue;
}

.bsec1 {
  margin: 2rem 0 2rem 1.5rem;
  width: 60%;

}

.bsec1 img {
  width: 100%;
}

.bsec2 {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 1.5rem;
  justify-content: center;
}

.bannertitle {
  width: 80%;
}

.bannertitle h1 {
  font-weight: bold;
  font-size: 4rem;
  padding-bottom: 1.5rem;
  line-height: 5rem;
  color: white;
  text-shadow: .12rem .12rem .25rem black;
}

.bannertitle p {
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.5rem;
}

.bannerbutton {
  display: flex;
  width: 80%;
  background-color: royalblue;
  justify-content: center;
  margin-top: 2rem;
  border-radius: .25rem;
  border: .14rem solid black;
  box-shadow: .12rem .12rem grey;
}

.bannerbutton a {
  padding: .5rem 0 .5rem 0;
  font-size: 2rem;
  text-shadow: .12rem .12rem .25px black;
}

.bannerbutton a:link {
  text-decoration: none;
  color: lightsteelblue !important;
}

.bannerbutton a:visited {
  color: lightsteelblue !important;
}

@media only screen and (max-width: 470px) {

  .banner {
    flex-direction: column;
    width: 470px;
  }

  .bsec1 {
    margin: 0rem 0 0rem 0rem;
    width: 100%;
  }

  .bsec2 {
    width: 100%;
    align-items: center;
    margin-left: 0;
  }

  .bannertitle h1 {
    font-size: 3rem;
    line-height: 3.5rem;
  }

  .bannertitle {
    width: 90%;
  }

  .bannertitle p {
    font-size: 1.5rem;
  }

  .bannerbutton a {
    padding: .5rem 0 .5rem 0;
    font-size: 2rem;
    text-shadow: .12rem .12rem .25px black;
  }
}

/* Headlines section */

.headlines {
  display: flex;
}

#imgmobile {
  display: none;
}

.hlsec1 {
  display: flex;
  flex-direction: column;
  margin: 2rem 0 2rem 1.5rem;
  width: 60%;
}

.hlsec1 img {
  width: 100%;
  margin-bottom: 2rem;
}

.hlsec1 h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.hlsec1 h2 {
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.hlsec2 {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 1rem 0 0 1.5rem;
  justify-content: center;
}

.hlsec2 h3 {
  line-height: 1.5rem;
}

.news a:link {
  text-decoration: none;
}

.news {
  display: flex;
  align-items: center;
  margin: 1rem 0 1rem 1rem;
  line-height: 2.5rem;
}

.news img {
  height: auto;
}

.news h2 {
  font-size: 2rem;
  font-weight: bold;
  align-items: center;
}

.news h3 {
  font-size: 1rem;
}

.news p {
  color: blue;
}

.newstext {
  width: 100%;
  margin-left: 2rem;
}

@media only screen and (max-width: 470px) {

  .headlines {
    width: 470px;
  }

  #headline1 {
    display: none;
  }

  #headline2 {
    width: 100%;
    margin: 0rem 0 0 0rem;
  }

  .news {
    flex-direction: column;
    align-items: center;
    width: 92%;
    margin: 1rem 0 1rem 1rem;
    line-height: 2.5rem;
  }

  #imgnormal {
    display: none;
  }

  #imgmobile {
    display: inline;
    width: 100%;
  }

  .newstext {
    width: 90%;
    margin-left: 2rem;
  }

}

/* Start learning section */

.startlearning {
  display: flex;
  flex-direction: column;
  background-color: lightsteelblue;
}

.sltitle {
  width: 100%;
}

.sltitle h1 {
  display: flex;
  font-size: 3rem;
  font-weight: bold;
  color: white;
  text-shadow: .12rem .12rem .25rem black;
  justify-content: center;
  margin: 2rem 0 2rem 0;
}

.slcontainer {
  display: flex;
  margin: 0 2.5rem 0 4.5rem;
  justify-content: center;
}

#bcontainer {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.slbox {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 33.25rem;
  margin: 0 2rem 0 0;
}

#tall {
  margin-bottom: 1.5rem;
}

.slbox img {
  width: 33.25rem;
  height: auto;
}

.slbox h2 {
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem 0 0 1rem;
}

#courses {
  margin: .5rem 0 .5rem 1rem;
}

.slbox p {
  margin-left: 1rem;
  font-size: 2rem;
  line-height: 3rem;
}

@media only screen and (max-width: 470px) {

  .startlearning {
    width: 470px;
  }

  .startlearning img, .startlearning p {
    display: none;
  }

  .slcontainer {
    flex-direction: column;
    margin: 0 0rem 0 1rem;
  }

  .slbox {
    width: 90%;
    padding: 1rem 0 1rem 0;
    margin-top: 1rem;
    background-color: grey;
    color: lightsteelblue;
    text-shadow: .12rem .12rem .25rem black;
    justify-content: center;
  }

  #bcontainer {
    margin-top: 0rem;
  }

  .slbox h2 {
    font-size: 2rem;
    margin: 0rem 0 0 1rem;
  }

}

/* Thesis exhibit */

.thesistitle {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.thesistitle h1 {
  font-weight: bold;
  font-size: 3rem;
  margin: 2rem 0 2rem 0;
}

.hlsec1 video,
h1,
h2, {
  margin-left: 1.5rem;
}

#reimagine {
  margin-top: 1.5rem;
}

/* Footer content */

footer {
  width: 100%;
  height: 8rem;
  background-color: lightsteelblue;
  border-top-color: black;
  border-left-color: white;
  border-right-color: white;
}

footer a:link {
  color: blue;
  text-decoration: none;
}

footer a:visited {
  color: blue;
}
.footertext {
  display: flex;
  padding: 1rem 0 0 1.5rem;
  justify-content: space-between;
}
